/target
.DS_Store
src/rustlings/.all-contributorsrc
src/rustlings/.devcontainer
src/rustlings/.editorconfig
src/rustlings/.gitignore
src/rustlings/.gitpod.yml
src/rustlings/.markdownlint.yml
src/rustlings/.vscode
src/rustlings/AUTHORS.md
src/rustlings/CHANGELOG.md
src/rustlings/CONTRIBUTING.md
src/rustlings/Cargo.lock
src/rustlings/Cargo.toml
src/rustlings/LICENSE
src/rustlings/README.md
!src/rustlings/exercises
src/rustlings/flake.lock
src/rustlings/flake.nix
src/rustlings/info.toml
src/rustlings/install.ps1
src/rustlings/install.sh
src/rustlings/oranda.json
src/rustlings/shell.nix
src/rustlings/src
src/rustlings/target
src/rustlings/tests
